<section id="contacto" class="contact">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Contacto</h2>
      <div class="about-highlight">
        <p>¿Tienes algun proyecto en mente? ¡Hablemos!</p>
      </div>
    </div>

    <div class="contact-content">
      <!-- Tarjeta izquierda -->
      <div class="contact-card">
        <!-- WhatsApp -->
<a class="contact-item whatsapp" href="...">
  <span class="contact-icon">
    <img src="assets/icons/whatsapp.svg" alt="WhatsApp">
  </span>
  <div>
    <h3>WhatsApp</h3>
    <p><small>+54 9 3493 410086</small></p>
  </div>
</a>


        <!-- Email -->
<a class="contact-item email" href="mailto:...">
  <span class="contact-icon">
    <img src="assets/icons/gmail.svg" alt="Gmail">
  </span>
  <div>
    <h3>Email</h3>
    <p>soporteluisdev@gmail.com</p>
  </div>
</a>
      </div>

      <!-- Tarjeta derecha -->
      <div class="contact-card">
        <!-- LinkedIn -->
<a class="contact-item linkedin" href="https://www.linkedin.com/in/luismiraglio" target="_blank" rel="noopener">
  <span class="contact-icon">
    <img src="assets/icons/linkedin.svg" alt="LinkedIn">
  </span>
  <div>
    <h3>LinkedIn</h3>
    <p>linkedin.com/in/luismiraglio</p>
  </div>
</a>

        <!-- GitHub -->
<a class="contact-item github" href="https://github.com/luismiraglio" target="_blank" rel="noopener">
  <span class="contact-icon">
    <img src="assets/icons/github-.svg" alt="GitHub">
  </span>
  <div>
    <h3>GitHub</h3>
    <p>github.com/luismiraglio</p>
  </div>
</a>
      </div>
    </div>
  </div>
</section>

